# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python
__pycache__/
*.pyc
*.pyo

# FastText 모델 폴더
models/

# 뉴스 데이터
backend/data/

# 테스트 실행 파일
backend/test_run.py
